h1{
    background-color:#f1a430;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

figure img {
    width: 300px;
    height: 300px;
    
}

h2 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

.missao {

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 16px;

}

.trajetoria {

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 16px;

}

.endereco1 {
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}
.endereco2{
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}
.telefone {
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align:center ;
    
}

#container {
     background-color: #000 ;   
     color:white;
     padding-top: 2px;  
     display: flex;              
}

div a {
 
    background-color: white;
    text-align: right;
    margin: auto;
    padding: 8px;
    display: flex;

}

.instagram {
    background-color:#dd2c7e;
    color: white;
    border-radius: 8px;
}

.facebook {
    background-color:#2c48dd;
    color: white;
    border-radius: 8px;
}






































































