h1{
    background-color:#fbb040;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

figure img {
    width: 300px;
    height: 300px;
    
}

h2 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

.missao {

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 16px;

}

.trajetoria {

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 16px;

}

.footer {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}













































































